body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
    padding: 2rem;
}

.container {
    background: white;
    max-width: 800px;
    margin: auto;
    padding-right:50px;
    padding-left: 50px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-left: 300px;
    margin-bottom: 500px;
    transition: 0.3s;

}
.container:hover {
    background: #f0f8ff;
    transform: translateY(-5px);
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #007bff;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-right: 60px;
    border-radius: 10px;
    margin-right: 1840px;
    /* margin-bottom: 120px; */
    position: fixed;
    top: 0;
}

.sidebar h1 {
    font-size: 30px;
    margin-bottom: 40px;
    padding-right: 60px;
}
.sidebar p {
    font-size: 14px;
    margin-bottom: 400px;
}
.sidebar .department {
    font-size: 14px;
    margin-bottom: 400px;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}
/* 
table, th, td {
    border: 1px solid #ddd;
} */

th, td {
    padding: 0.8rem;
    text-align: left;
    width: 300px;
}

button {
    display: flex;
    align-items: center;
    gap: 0.2rem; 
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 700px;
    position: fixed;
    bottom: 20px;
    right: 5px;
    transform: translateX(-20%);
    

}

button i {
    font-size: 1rem;
}

button:hover{
    background: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    color: white;
}

th {
    background: #007bff;
    color: white;
}


th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.view-results-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 670px;
}

.view-results-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}